
h2 {
  text-align: center;
}

.container{
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
  width: 60%;
}

#nav {
  background-color: #2244AA;
  text-align: center;
  padding: 10px
}

#nav > a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin: 1rem;
  font-size: 24px;
}

#nav > a:visited {
  color: white;
}

#nav > a:hover {
  animation: hover .2s;
  position: relative;
  bottom: 5px;
}

@keyframes hover{
  from {
    position: relative;
    bottom: 0px;
  }

  to {
    positioin: relative;
    bottom: 5px;
  }
}